!!! Strict
%html
  %head
    %title Hello Junior!
    
    %link{ :href => "/css/site.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }

  %body

    = yield
    
    .footer
      Powered by <a href="http://github.com/eddanger/junior">Junior</a>