.header
  %h1 User

.content

  = render 'views/_nav.haml'

  %form{ :action => "/users/#{@user.id}", :method => 'post' }
    %input{ :type => 'hidden', :name => '_method', :value => 'put' }

    %input{ :type => 'text', :name => 'user[name]', :value => @user.name }

    %input{ :type => 'submit', :value => 'Update User' }
    
    
